
<div class="table-responsive">
    <table class="table table-bordered table-striped" style="font-size: 0.65em;">
        <thead style="white-space: nowrap;">
            <tr style="cursor: pointer;">
                <th>Foto</th>
                <th scope="col" [appSort]="personal" data-order="desc" data-name="nombreCompleto">Nombre <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="personal" data-order="desc" data-name="nombre">CURP <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="personal" data-order="desc" data-name="rfc">RFC <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="personal" data-order="desc" data-name="calle">SSNO <span
                        class="glyphicon glyphicon-sort"></span></th>
                        <th>Domicilio</th>
                    <th>Documentos</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of personal">
                <td><img width="50" src="data:image/jpg;base64,{{item.foto}}"></td>
                <td>{{item.nombreCompleto}}</td>
                <td>{{item.curp}}</td>
                <td>{{item.rfc}}</td>
                <td>{{item.ssno}}</td>
                <td>Calle: {{item.direccion?.calle}}, N.Ext.{{item.direccion?.numExt}} Colonia: {{item.direccion?.colonia}} C.P. {{item.direccion?.cp}} Municipio: {{item.direccion?.municipio}}</td>
                <td>
                    <ng-container *ngIf="item.documentos">
                        <ul>
                        <li *ngFor="let doc of item.documentos">
                            <button (click)="getDocumento(doc.idDocumento)" class="btn btn-sm btn-primary">{{doc.tipoDocumento?.valor}}</button>
                        </li>
                        </ul>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</div>