<app-nav></app-nav>
<app-user></app-user>
<h3>Agente aduanal</h3>
<hr class="red">

  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a >Solicitudes de servicio</a></li>
  </ul>
  <br>
  <br>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label" style="text-align: left !important;">Filtrar por: </label>
      <div class="col-sm-3">
      <select class="form-control">
        <option>Opciones</option>
      </select>
    </div>
    <div class="col-sm-5">
      <input type="email" class="form-control" placeholder="Criterio">
    </div>
    <div class="col-sm-2"> 
      <button class="btn btn-danger btn-block btn-sm" type="button">Buscar <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </div>
    </div>
  </form>
  <br>
  <button type="button" class="btn btn-primary btn-sm" routerLink="nueva-solicitud">Nueva solicitud</button>
  <br>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Tipo de solicitud</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.id}}</td>
        <td>{{item.fecha}}</td>
        <td>{{item.cliente}}</td>
        <td>{{item.tipoSolicitud}}</td>
        <td>{{item.estado}}</td>
        <td><button class="btn btn-danger btn-sm" style="margin-right: 10px;">Ver detalle</button> <button class="btn btn-primary btn-sm">Completar pago</button></td>
      </tr>
    </tbody>
  </table>
  
  <ngb-pagination [collectionSize]="10" [(page)]="page"></ngb-pagination><br>
  <button type="button" class="btn btn-default" routerLink="/clientes">Regresar</button>