<form #formPago="ngForm">
  <div class="row">
    <div class="form-group col-md-6">
      <input type="text" name="convenio" class="form-control" placeholder="Convenio" [(ngModel)]="convenio" required/>
    </div>
    <div class="form-group col-md-6">
      <input type="text" name="referencia" class="form-control" placeholder="Referencia" [(ngModel)]="referencia" required/>
    </div>

  </div>
    <div class="row">

      <div class="form-group col-md-6">
        <input type="text" name="monto" class="form-control" placeholder="Monto" [(ngModel)]="monto" required/>
      </div>
      <div class="form-group col-md-6">
        <select name="banco" class="form-control" [(ngModel)]="banco" required>
          <option value="santander">Santander</option>
          <option value="bbva">BBVA</option>
        </select>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary pul-rigth" [disabled]="formPago.invalid" (click)="sendPago()">Aceptar</button>
        </div>
      </div>
   
  </form>