<app-nav></app-nav>
<app-user></app-user>
<h3>Protección portuaria</h3>
<hr class="red">
<ul class="nav nav-tabs">
  <li class="active" [class.active]="submenu==1"><a [routerLink]="" (click)="submenu=1">Detalle de pagos</a></li>
  <li class="active" [class.active]="submenu==2"><a [routerLink]="" (click)="submenu=2">Consultas</a></li>
</ul>
<br>
<br>
<container-element [ngSwitch]="submenu">

  <div *ngSwitchCase="1">
<button class="btn btn-primary btn-sm" routerLink="generar-consulta">Generar consulta</button><br><br>
<form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label" style="text-align: left !important;">Filtrar por: </label>
      <div class="col-sm-3">
      <select class="form-control">
        <option>Empresa</option>
      </select>
    </div>
    <div class="col-sm-5">
      <input type="email" class="form-control" placeholder="Criterio">
    </div>
    <div class="col-sm-2"> 
      <button class="btn btn-danger btn-block btn-sm" type="button">Filtrar <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </div>
    </div>
  </form>
  <br>
  <br>
<br>
<table class="table table-bordered">
  <thead>
    <tr style="cursor: pointer;">
      <th scope="col" [appSort]="data" data-order="desc" data-name="id">ID <span class="glyphicon glyphicon-sort"></span></th>
      <th scope="col" [appSort]="data" data-order="desc" data-name="id">Fecha <span class="glyphicon glyphicon-sort"></span></th>
      <th scope="col" [appSort]="data" data-order="desc" data-name="id">Empresa <span class="glyphicon glyphicon-sort"></span></th>
      <th scope="col" [appSort]="data" data-order="desc" data-name="id">Concepto <span class="glyphicon glyphicon-sort"></span></th>
      <th scope="col" [appSort]="data" data-order="desc" data-name="id">Total <span class="glyphicon glyphicon-sort"></span></th>
      <th scope="col" [appSort]="data" data-order="desc" data-name="id">Estado <span class="glyphicon glyphicon-sort"></span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>{{item.id}}</td>
      <td>{{item.fecha}}</td>
      <td>{{item.empresa}}</td>
      <td>{{item.concepto}}</td>
      <td>{{item.total}}</td>
      <td>{{item.estado}}</td>
    </tr>
  </tbody>
</table>

<ngb-pagination [collectionSize]="10" [(page)]="page"></ngb-pagination>
  </div>
  <div *ngSwitchCase="2">
    <app-pagos-table [parent]="'proteccionportuaria'"></app-pagos-table>
  </div>
</container-element>
<br>
<button type="button" class="btn btn-default" routerLink="/main">Regresar</button>