<app-nav></app-nav>
<app-user></app-user>
<h3>Maniobrista</h3>
<hr class="red">
<ul class="nav nav-tabs">
  <!--li [class.active]="submenu==1" ><a [routerLink]="" (click)="submenu=1">Estado de hechos</a></li-->
  <li [class.active]="submenu==1"><a [routerLink]="" (click)="submenu=1">2da y 3er maniobra</a></li>
  <li [class.active]="submenu==2"><a [routerLink]="" (click)="submenu=2">Pagos</a></li>
</ul>
<br>
<container-element [ngSwitch]="submenu">
    
    <div *ngSwitchCase="1">
        <br>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Archivo</label>
                <input type="file" id="maniobra" (change)="loadManiobras($event)" accept=".xlsx">
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" type="button">Cargar <span class="glyphicon glyphicon-upload" aria-hidden="true"></span></button>
            </div>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered table-striped" style="white-space: nowrap;">
                <thead>
                  <tr style="cursor: pointer;">
                    <th scope="col" [appSort]="dataManiobra" data-order="desc" data-name="buque">Buque <span class="glyphicon glyphicon-sort"></span></th>
                    <th scope="col" [appSort]="dataManiobra" data-order="desc" data-name="viaje">Viaje <span class="glyphicon glyphicon-sort"></span></th>
                    <th scope="col" [appSort]="dataManiobra" data-order="desc" data-name="tipoTrafico">Tipo de tráfico <span class="glyphicon glyphicon-sort"></span></th>
                    <th scope="col" [appSort]="dataManiobra" data-order="desc" data-name="recintoES">Recinto de entrada / salida <span class="glyphicon glyphicon-sort"></span></th>
                    <th scope="col" [appSort]="dataManiobra" data-order="desc" data-name="tipoManiobra">T. maniobra <span class="glyphicon glyphicon-sort"></span></th>
                    <th scope="col" [appSort]="dataManiobra" data-order="desc" data-name="producto">Producto <span class="glyphicon glyphicon-sort"></span></th>
                    <th scope="col" [appSort]="dataManiobra" data-order="desc" data-name="embalaje">Embalaje <span class="glyphicon glyphicon-sort"></span></th>
                    <th scope="col" [appSort]="dataManiobra" data-order="desc" data-name="bulto"># Bulto <span class="glyphicon glyphicon-sort"></span></th>
                    <th scope="col" [appSort]="dataManiobra" data-order="desc" data-name="tipoProducto">T. prod <span class="glyphicon glyphicon-sort"></span></th>
                    <th scope="col" [appSort]="dataManiobra" data-order="desc" data-name="tramo">Tramo <span class="glyphicon glyphicon-sort"></span></th>
                    <th scope="col" [appSort]="dataManiobra" data-order="desc" data-name="trafico">Tráfico <span class="glyphicon glyphicon-sort"></span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of dataManiobra">
                    <td>{{item.buque}}</td>
                    <td>{{item.viaje}}</td>
                    <td>{{item.tipoTrafico}}</td>
                    <td>{{item.recintoES}}</td>
                    <td>{{item.tipoManiobra}}</td>
                    <td>{{item.producto}}</td>
                    <td>{{item.embalaje}}</td>
                    <td>{{item.bulto}}</td>
                    <td>{{item.tipoProducto}}</td>
                    <td>{{item.tramo}}</td>
                    <td>{{item.trafico}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
              <ngb-pagination [collectionSize]="10" [(page)]="pageManiobra"></ngb-pagination>
    </div>
    <div *ngSwitchCase="2">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                  <tr style="cursor: pointer;">
                    <th scope="col" [appSort]="dataPagos" data-order="desc" data-name="id">ID <span class="glyphicon glyphicon-sort"></span></th>
                    <th scope="col" [appSort]="dataPagos" data-order="desc" data-name="fecha">Fecha <span class="glyphicon glyphicon-sort"></span></th>
                    <th scope="col" [appSort]="dataPagos" data-order="desc" data-name="concepto">Concepto <span class="glyphicon glyphicon-sort"></span></th>
                    <th scope="col" [appSort]="dataPagos" data-order="desc" data-name="total">Total <span class="glyphicon glyphicon-sort"></span></th>
                    <th scope="col" [appSort]="dataPagos" data-order="desc" data-name="estado">Estado <span class="glyphicon glyphicon-sort"></span></th>
                    <th scope="col" [appSort]="dataPagos" data-order="desc" data-name="cfdi">CFDI <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataPagos">
                        <td>{{item.id}}</td>
                        <td>{{item.fecha}}</td>
                        <td>{{item.concepto}}</td>
                        <td>{{item.total | currency}}</td>
                        <td>{{item.estado}}</td>
                        <td>{{item.cfdi}}</td>
                        <td><button class="btn btn-danger btn-sm" style="margin-right: 10px;">Ver detalle</button> <button class="btn btn-primary btn-sm">Completar pago</button></td>
                      </tr>
                </tbody>
              </table>
            </div>
            <ngb-pagination [collectionSize]="10" [(page)]="pagePagos"></ngb-pagination>
    </div>
 </container-element>
 <button type="button" class="btn btn-default" routerLink="/clientes">Regresar</button>