<div class="table-responsive" style="max-height: 500px;">
<table class="table table-bordered table-striped table-hover">
    <thead  style="white-space: nowrap;">
        <tr>
            <th>B/L</th>
            <th>Cantidad</th>
            <th>Peso</th>
            <th>Unidad</th>
            <th>Fecha Salida</th>
            <th>Fecha Autorización</th>
            <th>Fecha Entrada</th>
            <th>Recinto</th>
            <th>Área</th>
            <th>Recinto Destino</th>
            <th>C. Aduana</th>
            <th>A. Aduana</th>
            <th>Agencia Aduanal</th>
            <th>Patente</th>
            <th>Cliente</th>
            <th>Usuario</th>
            <th>Usuario Autoriza</th>
            <th>Manifiesto</th>
            <th>Buque</th>
            <th>Viaje</th>
            <th>Fecha Arribo</th>
            <th>Fecha Termino Operaciones</th>
            <th>Linea Naviera</th>
            <th>Agencia Consignataria</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{item.BL}}</td>
            <td>{{item.salidaCantidad}}</td>
            <td>{{item.salidaPeso}}</td>
            <td>{{item.Unidad}}</td>
            <td>{{item.fechaSalida}}</td>
            <td>{{item.fechaAutorizacion}}</td>
            <td>{{item.fechaEntrada}}</td>
            <td>{{item.Recinto}}</td>
            <td>{{item.Area}}</td>
            <td>{{item.recintoDestino}}</td>
            <td>{{item.CAduana}}</td>
            <td>{{item.AAduana}}</td>
            <td>{{item.agenciaAduanal}}</td>
            <td>{{item.Patente}}</td>
            <td>{{item.Cliente}}</td>
            <td>{{item.Usuario}}</td>
            <td>{{item.usuarioAutoriza}}</td>
            <td>{{item.Manifiesto}}</td>
            <td>{{item.Buque}}</td>
            <td>{{item.viaje}}</td>
            <td>{{item.fechaArribo}}</td>
            <td>{{item.fechaTerminoOperaciones}}</td>
            <td>{{item.lineaNaviera}}</td>
            <td>{{item.agenciaConsignataria}}</td>
        </tr>
    </tbody>

</table>
</div>
<p>Registros encontrados: <b>{{total}}</b></p>
<ngb-pagination [collectionSize]="total" [pageSize]="collSize" [(page)]="page" (pageChange)="paginado($event)"
  [maxSize]="3" [rotate]="true" [boundaryLinks]="true"></ngb-pagination><br>