<app-nav></app-nav>
<app-user></app-user>
<h3>Consulta por tipo</h3>
<hr class="red">
<form>

    <div class="form-horizontal">
        <div class="form-group" [class.has-error]="solicitado.invalid && (solicitado.dirty || solicitado.touched)">
            <ng-template #rts let-rs="result" let-ts="term">
                <ngb-highlight [result]="rs.nombre" [term]="ts"></ngb-highlight>
            </ng-template>
            <label class="col-sm-2 control-label" style="text-align: left;">Solicitado por: </label>
            <div class="col-sm-10">
                <div class="input-group">
                <input type="text" class="form-control" name="solicitado" #solicitado="ngModel" [(ngModel)]="solicitados" [ngbTypeahead]="searchCliente"
                [inputFormatter]="formatter" [resultTemplate]="rts">
                <div class="input-group-addon" *ngIf="!solicitados"></div>
                <div class="input-group-addon" style="cursor: pointer;" *ngIf="solicitados" (click)="solicitados=null"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </div>
            </div>
            <span class="col-sm-2"></span>
            <span class="help-block col-sm-9" *ngIf="solicitado.invalid && (solicitado.touched || solicitado.dirty)"></span>
        </div>
        <div class="form-group" [class.has-error]="facturara.invalid && (facturara.dirty || facturara.touched)">
            <ng-template #rtf let-rf="result" let-tf="term">
                <ngb-highlight [result]="rf.nombre" [term]="tf"></ngb-highlight>
            </ng-template>
            <label class="col-sm-2 control-label" style="text-align: left;">Facturar a: </label>
            <div class="col-sm-10">
                <div class="input-group">

                    <input type="text" class="form-control" name="facturara" #facturara="ngModel" [(ngModel)]="facturaa" [ngbTypeahead]="searchCliente"
                    [inputFormatter]="formatter" [resultTemplate]="rtf">
                    <div class="input-group-addon" *ngIf="!facturaa"></div>
                    <div class="input-group-addon" style="cursor: pointer;" *ngIf="facturaa" (click)="facturaa=null"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                
                </div>
            </div>
            <span class="col-sm-2"></span>
            <span class="help-block col-sm-9" *ngIf="facturara.invalid && (facturara.touched || facturara.dirty)"></span>
        </div>
    </div>
        
        <div class="row">
            <div class="form-group col-md-8" [class.has-error]="concepto.invalid && (concepto.dirty || concepto.touched)">
                <label class="control-label">Concepto</label>
                <select class="form-control" name="concepto" #concepto="ngModel" ngModel >
                    <option *ngFor="let item of conceptos" [value]="item"> {{item}}</option>
                </select>
                <span class="help-block" *ngIf="concepto.invalid && (concepto.dirty || concepto.touched)">Este campo es requerido</span>
            </div>
            <div class="form-group col-md-4"  [class.has-error]="nombreBuque.invalid && (nombreBuque.dirty || nombreBuque.touched)">
                <ng-template #rt let-r="result" let-t="term">
                    <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
                </ng-template>
                <label class="control-label">Nombre del Buque</label>
                <input type="text" class="form-control" name="nombreBuque" #nombreBuque="ngModel" [(ngModel)]="buque" [ngbTypeahead]="search"
                    [inputFormatter]="formatter" [resultTemplate]="rt" >
                    <span class="help-block" *ngIf="nombreBuque.invalid && (nombreBuque.dirty || nombreBuque.touched)">Este campo es requerido</span>
            </div>
        </div> 
        <div class="row">
            <div class="form-group col-md-4" [class.has-error]="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
                <label class="control-label">Cantidad</label>
                <input class="form-control" name="cantidad" #cantidad="ngModel" ngModel />
                <span class="help-block" *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">Este campo es requerido</span>
            </div>
            <div class="form-group col-md-4" [class.has-error]="total.invalid && (total.dirty || total.touched)">
                <label class="control-label">Total</label>
                <input class="form-control" name="total" #total="ngModel" ngModel />
                <span class="help-block" *ngIf="total.invalid && (total.dirty || total.touched)">Este campo es requerido</span>
            </div>
        </div>
</form>
<br>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#agregar-data">Agregar <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
  <br>
  <br>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead style="white-space: nowrap;">
            <tr style="cursor: pointer;">
                <th></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="codigo">Cantidad <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="buque">Cantidad Unidad<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="tipobuque">Volumen<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="viaje">Volumen Unidad<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="tipotrafico">Peso<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="tipomaniobra">Peso Unidad<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="producto">Concepto<span
                        class="glyphicon glyphicon-sort"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data; let i = index">
                <td><button class="btn btn-danger btn-sm" (click)="removeData(i)">Eliminar</button></td>
                <td>{{item.cantidad}}</td>
                <td>{{item.cantidadunidad}}</td>
                <td>{{item.volumen}}</td>
                <td>{{item.volumenunidad}}</td>
                <td>{{item.peso}}</td>
                <td>{{item.pesounidad}}</td>
                <td>{{item.concepto}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row top-buffer">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" routerLink="/facturacion">Regresar</button>
    </div>
</div>
<div class="modal fade" id="agregar-data">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Agregar</h4>
        </div>
        <div class="modal-body">
        <div class="row">

            <div class="form-group col-md-6">
                <label class="control-label">Cantidad</label>
                <input type="text" class="form-control" [(ngModel)]="tabledat.cantidad">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Cantidad Unidad</label>
                <select class="form-control" [(ngModel)]="tabledat.cantidadunidad">
                    <option *ngFor="let item of unidadesmedida" [value]="item.clave"> {{item.valor1}} - {{item.valor2}}</option>
                </select>
                
            </div>
        </div>
        <div class="row">

            <div class="form-group col-md-6">
                <label class="control-label">Volumen</label>
                <input type="text" class="form-control" [(ngModel)]="tabledat.volumen">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Volumen Unidad</label>
                <select class="form-control" [(ngModel)]="tabledat.volumenunidad">
                    <option *ngFor="let item of unidadesmedida" [value]="item.clave"> {{item.valor1}} - {{item.valor2}}</option>
                </select>
               
            </div>
        </div>
        <div class="row">

            <div class="form-group col-md-6">
                <label class="control-label">Peso</label>
                <input type="text" class="form-control" [(ngModel)]="tabledat.peso">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Peso Unidad</label>
                <select class="form-control" [(ngModel)]="tabledat.pesounidad">
                    <option *ngFor="let item of unidadesmedida" [value]="item.clave"> {{item.valor1}} - {{item.valor2}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label">Concepto</label>
                <select class="form-control" [(ngModel)]="tabledat.concepto" >
                    <option *ngFor="let item of conceptos" [value]="item"> {{item}}</option>
                </select>
            </div>

        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="guardarData()">Guardar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->