<div class="row">
    <div class="col-md-4 form-group">
        <input type="text" class="form-control" placeholder="Nombre" name="nombre" [(ngModel)]="nombre"
            (keyup)="busqueda()">
    </div>
    <div class="col-md-4 form-group">
        <input type="text" class="form-control" placeholder="Clave SAP" name="claveSap" [(ngModel)]="claveSap"
            (keyup)="busqueda()">
    </div>
    <div class="col-md-4 form-group">
        <input type="text" class="form-control" placeholder="RFC" name="rfc" [(ngModel)]="rfc" (keyup)="busqueda()">
    </div>
</div>
<br>
<div class="table-responsive">
    <table class="table table-bordered" style="font-size: 0.65em;">
        <thead style="white-space: nowrap;">
            <tr style="cursor: pointer;">
                <th scope="col" [appSort]="dataClientes" data-order="desc" data-name="claveSAP">Clave SAP <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="dataClientes" data-order="desc" data-name="nombre">Nombre <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="dataClientes" data-order="desc" data-name="rfc">RFC <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="dataClientes" data-order="desc" data-name="calle">Calle <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="dataClientes" data-order="desc" data-name="numExt">Número Ext. <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="dataClientes" data-order="desc" data-name="numInt">Número Int. <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="dataClientes" data-order="desc" data-name="colonia">Colonia <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="dataClientes" data-order="desc" data-name="cp">CP <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="dataClientes" data-order="desc" data-name="ciudad">Ciudad <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="dataClientes" data-order="desc" data-name="estado">Estado <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="dataClientes" data-order="desc" data-name="pais">País <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="dataClientes" data-order="desc" data-name="email">Email <span
                        class="glyphicon glyphicon-sort"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataClientes">
                <td>{{item.claveSAP}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.rfc}}</td>
                <td>{{item.calle}}</td>
                <td>{{item.numExt}}</td>
                <td>{{item.numInt}}</td>
                <td>{{item.colonia}}</td>
                <td>{{item.cp}}</td>
                <td>{{item.ciudad}}</td>
                <td>{{item.estado}}</td>
                <td>{{item.pais}}</td>
                <td>{{item.email}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<p>Registros encontrados: <b>{{totalClientes}}</b></p>
<ngb-pagination [collectionSize]="totalClientes" [(page)]="pageClientes" (pageChange)="paginado($event)" [maxSize]="3"
    [rotate]="true" [boundaryLinks]="true"></ngb-pagination><br>