<div class="row top-buffer">
    <div class="col-md-8">
      <ol class="breadcrumb">
        <li><a routerLink="/main"><i class="icon icon-home"></i></a></li>
        <li><a routerLink="/main">Inicio</a></li>
        <li  *ngFor="let ruta of rutas; let ultimo = last" [class.active]="ultimo">
          <a [routerLink]="ruta.url">{{ruta.name}}</a>
        </li>
      </ol>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
              {{user.nombre}} <br> {{user.tipo}}<br><span style="font-size: smaller;">{{user.rol}}</span> <br><span style="font-size: smaller;">{{user.empresa}}</span>
              <hr>
              <button type="button" class="btn btn-default btn-xs pull-right" (click)="closeSession()">Cerrar sesión</button>
            </div>
          </div>
    </div>

</div>
