<app-nav></app-nav>
<app-user></app-user>
<h3>Consulta por tipo</h3>
<hr class="red">
<form #formConsulta="ngForm">

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align: left;">Buscar Solicitado: </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="buscarEmp" [(ngModel)]="buscarEmp" >
            </div>
            <div class="col-sm-1">
                <button class="btn btn-xs btn-primary" (click)="buscarEmpresa()">Buscar</button>
            </div>
            <label class="col-sm-2 control-label" style="text-align: left;">Solicitado Por: </label>
            <div class="col-sm-4">
                <select name="solicitados" [(ngModel)]="solicitados" (change)="buscarDetalleEmpresa(1)" class="form-control" name="solicitado" [disabled]="solicitadospor.length == 0" #solicitado="ngModel">
                    <option *ngFor="let item of solicitadospor" [ngValue]="item">{{item.nombre}}</option>

                </select>
            </div> 
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align: left;">Buscar Facturar: </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="buscarFacturar" [(ngModel)]="buscarFacturar" >
            </div>
            <div class="col-sm-1">
                <button class="btn btn-xs btn-primary" (click)="buscarEmpresaF()">Buscar</button>
            </div>
            <label class="col-sm-2 control-label" style="text-align: left;">Facturar a: </label>
            <div class="col-sm-4">
                <select name="facturara" [(ngModel)]="facturaa" (change)="buscarDetalleEmpresa(2)" class="form-control" name="facturaa" [disabled]="facturardata.length == 0" #facturara="ngModel">
                    <option *ngFor="let item of facturardata" [ngValue]="item">{{item.nombre}}</option>

                </select>
            </div> 
        </div>
        <!--div class="form-group" [class.has-error]="solicitado.invalid && (solicitado.dirty || solicitado.touched)">
            <ng-template #rts let-rs="result" let-ts="term">
                <ngb-highlight [result]="rs.nombre" [term]="ts"></ngb-highlight>
            </ng-template>
            <label class="col-sm-2 control-label" style="text-align: left;">Solicitado por: </label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" class="form-control" name="solicitado" #solicitado="ngModel"
                        [(ngModel)]="solicitados" [ngbTypeahead]="searchCliente" [inputFormatter]="formatter"
                        [resultTemplate]="rts" required>
                    <div class="input-group-addon" *ngIf="!solicitados"></div>
                    <div class="input-group-addon" style="cursor: pointer;" *ngIf="solicitados"
                        (click)="solicitados=null"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <span class="col-sm-2"></span>
            <span class="help-block col-sm-9"
                *ngIf="solicitado.invalid && (solicitado.touched || solicitado.dirty)"></span>
        </div-->
        <!--<div class="form-group" [class.has-error]="facturara.invalid && (facturara.dirty || facturara.touched)">
            <ng-template #rtf let-rf="result" let-tf="term">
                <ngb-highlight [result]="rf.nombre" [term]="tf"></ngb-highlight>
            </ng-template>
            <label class="col-sm-2 control-label" style="text-align: left;">Facturar a: </label>
            <div class="col-sm-10">
                <div class="input-group">

                    <input type="text" class="form-control" name="facturara" #facturara="ngModel" [(ngModel)]="facturaa"
                        [ngbTypeahead]="searchCliente" [inputFormatter]="formatter" [resultTemplate]="rtf" required>
                    <div class="input-group-addon" *ngIf="!facturaa"></div>
                    <div class="input-group-addon" style="cursor: pointer;" *ngIf="facturaa" (click)="facturaa=null">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </div>

                </div>
            </div>
            <span class="col-sm-2"></span>
            <span class="help-block col-sm-9"
                *ngIf="facturara.invalid && (facturara.touched || facturara.dirty)"></span>
        </div>-->
    </div>

    <div class="row">
        <div class="form-group col-md-4" [class.has-error]="blinp.invalid && (blinp.dirty || blinp.touched)">
            <label class="control-label">B/L</label>
            <input class="form-control" name="bl" #blinp="ngModel" [(ngModel)]="bl" required />
            <span class="help-block" *ngIf="blinp.invalid && (blinp.dirty || blinp.touched)">Este campo es
                requerido</span>

        </div>
        <div class="form-group col-md-4"
            [class.has-error]="conceptoc.invalid && (conceptoc.dirty || conceptoc.touched)">
            <label class="control-label">Concepto</label>
            <select class="form-control" [(ngModel)]="concepto" #conceptoc="ngModel" name="concepto"
                (ngModelChange)="selectConcepto($event)" required>
                <option *ngFor="let item of conceptos" [value]="item.clave"> {{item.valor1}}</option>
            </select>
            <span class="help-block" *ngIf="conceptoc.invalid && (conceptoc.dirty || conceptoc.touched)">Este campo es
                requerido</span>
        </div>
        <div class="form-group col-md-4"
            [class.has-error]="nombreBuque.invalid && (nombreBuque.dirty || nombreBuque.touched)">
            <ng-template #rt let-r="result" let-t="term">
                <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
            </ng-template>
            <label class="control-label">Nombre del Buque</label>
            <input type="text" class="form-control" name="nombreBuquee" #nombreBuque="ngModel" [(ngModel)]="buque"
                [ngbTypeahead]="search" (ngModelChange)="buqueSelect()" [inputFormatter]="formatter"
                [resultTemplate]="rt" required>
            <span class="help-block" *ngIf="nombreBuque.invalid && (nombreBuque.dirty || nombreBuque.touched)">Este
                campo es
                requerido</span>
        </div>

    </div>
    <div class="row">

        <div class="form-group col-md-4">
            <label class="control-label">Tonelaje Neto</label>
            <input class="form-control" name="tonelajeneto" [(ngModel)]="tonelajeNeto" />
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Tonelaje Muerto</label>
            <input class="form-control" name="tonelajebruto" [(ngModel)]="tonelajeMuerto" />
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Eslora</label>
            <input class="form-control" name="eslora" [(ngModel)]="eslora" />
        </div>

    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">Número de viaje</label>
            <input class="form-control" name="numeroviaje" [(ngModel)]="numeroviaje" />
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Cantidad de Piezas</label>
            <input class="form-control" name="cantidadpiezas" [(ngModel)]="cantidadPiezas" />
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Tarifa</label>
            <select class="form-control" name="tarifa" [(ngModel)]="tarifa">
                <option *ngFor="let item of catTarifa" [value]="item.clave"> {{item.descripcion}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label">Fecha Inicio</label>
            <div class="datepicker-group">
                <input type="text" class="form-control" id="fecha-ini" readonly name="fechaini" [(ngModel)]="fechaini"
                    name="fechaini">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">Fecha Fin</label>
            <div class="datepicker-group">

                <input type="text" class="form-control" id="fecha-fin" name="fechafin" readonly [(ngModel)]="fechafin"
                    name="fechafin">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
        </div>


    </div>
</form>
<br>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#agregar-data"
    [disabled]="formConsulta.invalid">Agregar <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
<br>
<br>
<div class="table-responsive" style="max-height: 500px;">
    <table class="table table-bordered">
        <thead style="white-space: nowrap;">
            <tr style="cursor: pointer;">
                <th></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="codigo">Cantidad <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="buque">Cantidad Unidad<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="tipobuque">Volumen<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="viaje">Volumen Unidad<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="tipotrafico">Peso<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="tipomaniobra">Peso Unidad<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="producto">Concepto<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="material">Material<span
                        class="glyphicon glyphicon-sort"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data; let i = index">
                <td style='white-space: nowrap'><button class="btn btn-danger btn-sm"
                        (click)="removeData(i)">Eliminar</button>

                    <button class="btn btn-danger btn-sm" (click)="editData(i,item)" style="margin-left: 10px;"
                        data-toggle="modal" data-target="#editar-data">Editar</button>

                </td>
                <td>{{item.cantidad}}</td>
                <td>{{item.unidadcantidadtxt}}</td>
                <td>{{item.volumen}}</td>
                <td>{{item.unidadvolumentxt}}</td>
                <td>{{item.peso}}</td>
                <td>{{item.unidadpesotxt}}</td>
                <td>{{item.concepto}}</td>
                <td>{{item.material}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div class="alert alert-danger" *ngIf="hasError">
    No se pudo guardar su información
</div>
<div class="alert alert-success" *ngIf="success">
    Se guardo correctamente, número de consulta : {{noConsulta}}
</div>
<div class="row top-buffer">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" routerLink="/facturacion">Regresar</button>
        <button type="button" class="btn btn-primary" (click)="generarPago()" style="margin-left: 15px;"
            [disabled]="data.length == 0">Generar Pago</button>
    </div>
</div>

<div class="modal fade" id="agregar-data">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar</h4>
            </div>
            <div class="modal-body">
                <form #formDataTab="ngForm">


                    <div class="row">

                        <div class="form-group col-md-6">
                            <label class="control-label">Cantidad</label>
                            <input type="text" class="form-control" name="cantidad" [(ngModel)]="tabledat.cantidad">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Cantidad Unidad</label>
                            <select class="form-control" [(ngModel)]="tabledat.unidadcantidad" name="unidadcantidad">
                                <option *ngFor="let item of unidadesmedida" [value]="item.clave"> {{item.valor1}} -
                                    {{item.valor2}}</option>
                            </select>

                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label class="control-label">Volumen</label>
                            <input type="text" class="form-control" name="volumen" [(ngModel)]="tabledat.volumen">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Volumen Unidad</label>
                            <select class="form-control" [(ngModel)]="tabledat.unidadvolumen" name="unidadvolumen">
                                <option *ngFor="let item of unidadesmedida" [value]="item.clave"> {{item.valor1}} -
                                    {{item.valor2}}</option>
                            </select>

                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label class="control-label">Peso</label>
                            <input type="text" class="form-control" name="peso" [(ngModel)]="tabledat.peso">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Peso Unidad</label>
                            <select class="form-control" [(ngModel)]="tabledat.unidadpeso" name="unidadpeso">
                                <option *ngFor="let item of unidadesmedida" [value]="item.clave"> {{item.valor1}} -
                                    {{item.valor2}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="formDataTab.invalid"
                    (click)="guardarData()">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editar-data">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar</h4>
            </div>
            <div class="modal-body">
                <form #formDataTab="ngForm">

                    <div class="row">

                        <div class="form-group col-md-6">
                            <label class="control-label">Cantidad</label>
                            <input type="text" class="form-control" name="cantidad" [(ngModel)]="tabledat.cantidad">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Cantidad Unidad</label>
                            <select class="form-control" [(ngModel)]="tabledat.unidadcantidad" name="unidadcantidad">
                                <option *ngFor="let item of unidadesmedida" [value]="item.clave"> {{item.valor1}} -
                                    {{item.valor2}}</option>
                            </select>

                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label class="control-label">Volumen</label>
                            <input type="text" class="form-control" name="volumen" [(ngModel)]="tabledat.volumen">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Volumen Unidad</label>
                            <select class="form-control" [(ngModel)]="tabledat.unidadvolumen" name="unidadvolumen">
                                <option *ngFor="let item of unidadesmedida" [value]="item.clave"> {{item.valor1}} -
                                    {{item.valor2}}</option>
                            </select>

                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label class="control-label">Peso</label>
                            <input type="text" class="form-control" name="peso" [(ngModel)]="tabledat.peso">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Peso Unidad</label>
                            <select class="form-control" [(ngModel)]="tabledat.unidadpeso" name="unidadpeso">
                                <option *ngFor="let item of unidadesmedida" [value]="item.clave"> {{item.valor1}} -
                                    {{item.valor2}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="formDataTab.invalid"
                    (click)="guardarEditData()">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->