<app-nav></app-nav>
<app-user></app-user>
<a class="pull-right btn btn-danger btn-sm" [href]="link"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true" ></span> Regresar</a>
<h3>Facturación</h3>
<hr class="red">
<ul class="nav nav-tabs">
  <li role="presentation" [class.active]="submenu==1"><a [routerLink]="" (click)="submenu=1">Consultas</a></li>
  <li role="presentation" [class.active]="submenu==2"><a [routerLink]="" (click)="submenu=2">Clientes</a></li>
  <li role="presentation" [class.active]="submenu==4"><a [routerLink]="" (click)="submenu=4">CFDI</a></li>
  <li role="presentation" [class.active]="submenu==5"><a [routerLink]="" (click)="submenu=5">Pagos</a></li>
  <li role="presentation" [class.active]="submenu==3"><a [routerLink]="" (click)="submenu=3">Reportes</a></li>
</ul>
<br>
<br>
<container-element [ngSwitch]="submenu">
  <div *ngSwitchCase="1">
  <app-pagos-table></app-pagos-table>
  </div>
  <div *ngSwitchCase="2">
    <app-clientes-table></app-clientes-table>
  </div>
  <div *ngSwitchCase="3"></div>
  <div *ngSwitchCase="4">
    <app-cfdi></app-cfdi>
  </div>
  <div *ngSwitchCase="5">
   <app-respuesta-bancos></app-respuesta-bancos>
  </div>
</container-element>


<!--button type="button" class="btn btn-default" routerLink="/main">Regresar</button-->