<app-nav></app-nav>
<app-user></app-user>
<h3>Facturación</h3>
<hr class="red">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a >Consultas</a></li>
  <li role="presentation"><a >Clientes</a></li>
  <li role="presentation"><a >Reportes</a></li>
</ul>
<br>
<br>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label" style="text-align: left !important;">Filtrar por: </label>
    <div class="col-sm-3">
    <select class="form-control">
      <option>Opciones</option>
    </select>
  </div>
  <div class="col-sm-5">
    <input type="email" class="form-control" placeholder="Criterio">
  </div>
  <div class="col-sm-2"> 
    <button class="btn btn-danger btn-block btn-sm" type="button">Buscar <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
  </div>
  </div>
</form>
<br>
<button type="button" class="btn btn-primary btn-sm" routerLink="nueva-consulta">Nueva consulta</button>
<br>
<br>
<div class="table-responsive">
<table class="table table-bordered">
  <thead style="white-space: nowrap;">
    <tr style="cursor: pointer;">
      <th>Estatus <span class="glyphicon glyphicon-sort"></span></th>
      <th>Consulta de pago <span class="glyphicon glyphicon-sort"></span></th>
      <th>Fecha de la consulta <span class="glyphicon glyphicon-sort"></span></th>
      <th>Factura <span class="glyphicon glyphicon-sort"></span></th>
      <th>Fecha de la factura <span class="glyphicon glyphicon-sort"></span></th>
      <th>UUID <span class="glyphicon glyphicon-sort"></span></th>
      <th>Tipo de servicio <span class="glyphicon glyphicon-sort"></span></th>
      <th>Solicitante <span class="glyphicon glyphicon-sort"></span></th>
      <th>Cliente <span class="glyphicon glyphicon-sort"></span></th>
      <th>Referencia del servicio <span class="glyphicon glyphicon-sort"></span></th>
      <th>Subtotal <span class="glyphicon glyphicon-sort"></span></th>
      <th>Descuentos <span class="glyphicon glyphicon-sort"></span></th>
      <th>IVA <span class="glyphicon glyphicon-sort"></span></th>
      <th>Total <span class="glyphicon glyphicon-sort"></span></th>
      <th>Fecha de pago <span class="glyphicon glyphicon-sort"></span></th>
      <th>Saldo deudor <span class="glyphicon glyphicon-sort"></span></th>
      <th>PDF <span class="glyphicon glyphicon-sort"></span></th>
      <th>XML <span class="glyphicon glyphicon-sort"></span></th>
      <th>Liga de pago <span class="glyphicon glyphicon-sort"></span></th>
    </tr>
  </thead>
  <tbody>
    <!--tr *ngFor="let item of data">
      <td>{{item.id}}</td>
      <td>{{item.fecha}}</td>
      <td>{{item.empresa}}</td>
      <td>{{item.concepto}}</td>
      <td>{{item.total | currency}}</td>
      <td>{{item.estado}}</td>
      <td>{{item.cfdi}}</td>
    </tr-->
  </tbody>
</table>
</div>
<ngb-pagination [collectionSize]="10" [(page)]="page"></ngb-pagination><br>
<button type="button" class="btn btn-default" routerLink="/main">Regresar</button>