<app-nav></app-nav>
<app-user></app-user>
<h3>Recinto</h3>
<hr class="red">
<ul class="nav nav-tabs">
  <li role="presentation" [class.active]="submenu==1"><a [routerLink]="" (click)="submenu=1">Solicitudes de servicio</a>
  </li>
  <li role="presentation" [class.active]="submenu==2"><a [routerLink]="" (click)="submenu=2">CFDI</a></li>
  <li role="presentation" [class.active]="submenu==3"><a [routerLink]="" (click)="submenu=3">Cargar Manifiesto</a></li>
  <li role="presentation" [class.active]="submenu==4"><a [routerLink]="" (click)="submenu=4">I3</a></li>
  <li role="presentation" [class.active]="submenu==5"><a [routerLink]="" (click)="submenu=5">Consultas</a></li>
  <li role="presentation" [class.active]="submenu==6"><a [routerLink]="" (click)="submenu=6">Personal de recinto</a>
  </li>
  <li role="presentation" [class.active]="submenu==7"><a [routerLink]="" (click)="submenu=7">Consulta de manifiesto</a>
  </li>
  <li role="presentation" [class.active]="submenu==8"><a [routerLink]="" (click)="submenu=8">Inventario</a>
  </li>
</ul>
<br>
<br>
<container-element [ngSwitch]="submenu">

  <div *ngSwitchCase="1">
    <app-solicitud-servicio></app-solicitud-servicio>
  </div>
  <div *ngSwitchCase="2">
    <app-cfdi></app-cfdi>
  </div>
  <div [hidden]="submenu!=3">
    <app-carga-manifiesto></app-carga-manifiesto>
  </div>
  <div *ngSwitchCase="4"></div>
  <div *ngSwitchCase="5">
    <app-pagos-table [parent]="'recinto'"></app-pagos-table>
  </div>
  <div *ngSwitchCase="6">
    <app-personal-recinto></app-personal-recinto>
  </div>
  <div *ngSwitchCase="7">
    <div class="row">
      <div class="form-group col-md-4">
        <label class="control-label">Manifiesto</label>
        <input type="text" class="form-control" name="manifiesto" [(ngModel)]="manifiesto">
      </div>
      <div class="col-md-8">
        <button class="btn btn-primary btn-sm" style="margin-top: 30px;" (click)="consultarManifiesto()"
          [disabled]="!manifiesto">Buscar</button>

      </div>
    </div>
    <div *ngIf="manifiestoData">
      <div class="row">
        <div class="form-group col-md-4">
          <label class="control-label">Manifiesto</label>
          <input type="text" class="form-control" readonly [(ngModel)]="manifiestoData.nuManifiesto">
        </div>
        <div class="form-group col-md-4">
          <label class="control-label">Buque</label>
          <input type="text" class="form-control" readonly [(ngModel)]="manifiestoData.buque">
        </div>
        <div class="form-group col-md-4">
          <label class="control-label">Viaje</label>
          <input type="text" class="form-control" readonly [(ngModel)]="manifiestoData.viaje">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label class="control-label">Fecha Entrada</label>
          <input type="text" class="form-control" readonly [(ngModel)]="manifiestoData.fechaEntradaSalida">
        </div>
      </div>
      <div class="table-responsive" style="font-size: 0.65em; max-height: 500px;">
        <table class="table table-striped table-bordered" style="white-space: nowrap;">
          <thead>
            <tr style="cursor: pointer;">
              <th>BL</th>
              <th>Embarcador</th>
              <th>Consignatario</th>
              <th>Notificar a</th>
              <th>Marcas y Números</th>
              <th>Cantidad</th>
              <th>Unidad</th>
              <th>Descripción</th>
              <th>Peso Bruto</th>
              <th>Volumen</th>
              <th>Puerto Carga</th>
              <th>Puerto Origen</th>
              <th>Puerto Descarga</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of manifiestoData?.bls">
              <td>{{item.bl}}</td>
              <td>{{item.embarcador}}</td>
              <td>{{item.consignatario}}</td>
              <td>{{item.notificarA}}</td>
              <td>{{item.marcasNumeros}}</td>
              <td>{{item.cantidad}}</td>
              <td>{{item.unidad}}</td>
              <td>{{item.descripcion}}</td>
              <td>{{item.pesoBruto}}</td>
              <td>{{item.volumen}}</td>
              <td>{{item.puertoEmbarque}}</td>
              <td>{{item.puertoEmision}}</td>
              <td>{{item.puertoDescarga}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="8">
    <app-inventario></app-inventario>
  </div>
</container-element>
<br>
<br>
<br>