<app-nav></app-nav>
<app-user></app-user>
<h3>Nueva Solicitud</h3>
<hr class="red">
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a>Solicitudes de servicio</a></li>
</ul>
<br>
<br>
<form role="form">
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">Tipo de servicio</label>
            <select class="form-control" name="tiposervicio" [(ngModel)]="tipoServ">
                <option *ngFor="let item of tipoServicio" [value]="item.id">{{item.descripcion}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Tipo de trámite</label>
            <select class="form-control" name="tipotram" [(ngModel)]="tipoTram">
                <option *ngFor="let item of tipoTramite" [value]="item.id">{{item.descripcion}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Tipo de solicitud</label>
            <select class="form-control" name="tiposolicitud" [(ngModel)]="tipoSoli">
                <option *ngFor="let item of tipoSolicitud" [value]="item.id">{{item.descripcion}}</option>
            </select>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">Tipo de transporte</label>
            <select class="form-control" name="tipoTrans" [(ngModel)]="tipoTrans">
                <option *ngFor="let item of medioTransporte" [value]="item.id">{{item.descripcion}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group datepicker-group">
                <label class="control-label">Fecha de servicio</label>
                <input type="text" class="form-control" id="fecha-servicio">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group col-md-8">
            <label class="control-label">Agencia aduanal</label>
            <select class="form-control" name="agenciaAduanal" [(ngModel)]="agenciaAduanal" (change)="getPatente()">
                <option *ngFor="let item of agenciasaduanales" [value]="item.id">{{item.valor}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Patente</label>
            <input type="text" class="form-control" name="patente" [(ngModel)]="patente" *ngIf="patentes.length <= 1">
            <select class="form-control" *ngIf="patentes.length > 1" name="patente" [(ngModel)]="patente">
                <option *ngFor="let item of patentes" [value]="item">{{item}}</option>
            </select>
        </div>
        
    </div>
    <div class="row">
        <ng-template #rt2 let-r="result" let-t="term">
            <ngb-highlight [result]="r.rfc" [term]="t"></ngb-highlight>
        </ng-template>
        <div class="form-group col-md-4">
            <label class="control-label">Cliente para facturar (RFC)</label>
            <input type="text" class="form-control" name="rfcCliente" [(ngModel)]="rfcCliente"
                [ngbTypeahead]="searchCliente" [inputFormatter]="formatterCliente" [resultTemplate]="rt2"
                (selectItem)="selected($event)">
        </div>
        <div class="form-group col-md-8">
            <label class="control-label">Nombre</label>
            <input type="text" class="form-control" name="nombreCliente" [(ngModel)]="nombreCliente"
                [ngbTypeahead]="searchClienteNombre" [inputFormatter]="formatterClienteNombre" [resultTemplate]="rt"
                (selectItem)="selected($event)">
        </div>
    </div>

    <hr>
    <ng-template #rt let-r="result" let-t="term">
        <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
    </ng-template>

    <div class="row">
        <div class="form-group col-md-12">
            <label class="control-label">Nombre de buque</label>
            <input type="text" class="form-control" [(ngModel)]="buque" name="buque" [ngbTypeahead]="search"
                [inputFormatter]="formatter" [resultTemplate]="rt">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">Número de viaje</label>
            <input type="text" class="form-control" name="viaje" [(ngModel)]="viaje">

        </div>
        <div class="col-md-4">
            <div class="form-group datepicker-group">
                <label class="control-label">Fecha de arribo</label>
                <input type="text" class="form-control" id="fecha-arribo">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group datepicker-group">
                <label class="control-label">Fecha de inicio de operaciones</label>
                <input type="text" class="form-control" id="fecha-inicio-operaciones">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group datepicker-group">
                <label class="control-label">Fecha de zarpe</label>
                <input type="text" class="form-control" id="fecha-zarpe">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Linea naviera</label>
            <select class="form-control" name="lineanaviera" [(ngModel)]="lineanaviera">
                <option *ngFor="let item of lineasnavieras" [value]="item.id">{{item.valor}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Agencia consignataria</label>
            <select class="form-control" [(ngModel)]="agenciaconsig" name="agenciaconsig">
                <option *ngFor="let item of agenciasconsig" [value]="item.id">{{item.valor}}</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">B/L</label>
            <input type="text" class="form-control" name="bl" [(ngModel)]="bl">
        </div>
        <div class="col-md-8">
            <button class="btn btn-primary btn-sm" style="margin-top: 30px;" (click)="consulta()"
                [disabled]="!bl">Buscar</button>

        </div>
    </div>
    <div class="alert alert-warning" *ngIf="msjConsulta">
        {{msjConsulta}}

    </div>
</form>
<ng-container *ngIf="tipoSoli == '2'">
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">Tipo Salida</label>
            <select class="form-control" name="tipoSalida" [(ngModel)]="tipoSalida">
                <option value="1">Normal</option>
                <option value="2">Transferencia</option>
            </select>
        </div>
        <div class="form-group col-md-8" *ngIf="tipoSalida == '2'">
            <label class="control-label">Recinto Origen</label>
            <select class="form-control" name="recintoOrigen" [(ngModel)]="recintoOrigen" disabled>
                <option *ngFor="let item of recintos" [value]="item.clave">{{item.nombre}}</option>
            </select>
        </div>
        <div class="form-group col-md-12" *ngIf="tipoSalida == '2'">
            <label class="control-label">Recinto Destino</label>
            <select class="form-control" name="recintoDestino" [(ngModel)]="recintoDestino">
                <option *ngFor="let item of recintos" [value]="item.clave">{{item.nombre}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="exampleInputFile">B/L Revalidado</label>
            <input type="file">
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputFile">Tarja</label>
            <input type="file">

        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputFile">Solicitud</label>
            <input type="file">
        </div>
    </div>
</ng-container>
<br>
<br>
<div class="table-responsive" style="font-size: 0.65em; max-height: 500px;">
    <table class="table table-bordered" style="white-space: nowrap;">
        <thead>
            <tr style="cursor: pointer">
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="bl">BL <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="embarcador">Embarcador <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="consignatario">Consignatario
                    <span class="glyphicon glyphicon-sort"></span>
                </th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="notificarA">Notificar a <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="marcasNumeros">Marcas y Números
                    <span class="glyphicon glyphicon-sort"></span>
                </th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="cantidad">Cantidad <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="unidad">Unidad <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="descripcion">Descripción <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="pesoBruto">Peso Bruto (KG) <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="volumen">Volumen <span
                        class="glyphicon glyphicon-sort"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of bls">
                <td>{{item.bl}}</td>
                <td>{{item.embarcador}}</td>
                <td>{{item.consignatario}}</td>
                <td>{{item.notificarA}}</td>
                <td>{{item.marcasNumeros}}</td>
                <td>{{item.cantidad}}</td>
                <td>{{item.unidad}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.pesoBruto}}</td>
                <td>{{item.volumen}}</td>
            </tr>

        </tbody>
    </table>
</div>
<div class="row" *ngIf="bls.length > 0 && tipoSoli == '2'">
    <div class="form-group col-md-4">
        <label class="control-label">Nuevo Peso</label>
        <input type="text" class="form-control" name="nuevopeso" [(ngModel)]="nuevopeso">

    </div>
    <div class="form-group col-md-4">
        <label class="control-label">Nueva Cantidad</label>
        <input type="text" class="form-control" name="nuevacantidad" [(ngModel)]="nuevacantidad">

    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-sm btn-primary" style="margin-top: 33px;" (click)="addNuevosDatosBL()"
            [disabled]="!nuevopeso || !nuevacantidad">Agregar</button>
    </div>
</div>
<div class="alert alert-success" *ngIf="msjSuccess">
    {{msjSuccess}}
</div>
<button type="button" class="btn btn-default" routerLink="/recinto">Regresar</button>
<button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="guardarSolicitud()"> Guardar</button>