<app-nav></app-nav>
<app-user></app-user>
<h3>Nueva Solicitud</h3>
<hr class="red">
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a>Solicitudes de servicio</a></li>
</ul>
<br>
<br>
<form role="form">
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">Tipo de servicio</label>
            <select class="form-control">
                <option>Contenedores</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Tipo de trámite</label>
            <select class="form-control">
                <option>Importación</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Tipo de solicitud</label>
            <select class="form-control">
                <option>Entrada</option>
            </select>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">Tipo de transporte</label>
            <select class="form-control">
                <option>Carretera</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group datepicker-group">
                <label class="control-label">Fecha de servicio</label>
                <input type="text" class="form-control" id="fecha-servicio">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group col-md-8">
            <label class="control-label">Agencia aduanal</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">Cliente para facturar</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-8">
            <label class="control-label"></label>
            <input type="text" class="form-control">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="form-group col-md-12">
            <label class="control-label">Nombre de buque</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">Número de viaje</label>
            <input type="text" class="form-control" > 
               
        </div>
        <div class="col-md-4">
            <div class="form-group datepicker-group">
                <label class="control-label">Fecha de arribo</label>
                <input type="text" class="form-control" id="fecha-arribo">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group datepicker-group">
                <label class="control-label">Fecha de inicio de operaciones</label>
                <input type="text" class="form-control" id="fecha-inicio-operaciones">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group datepicker-group">
                <label class="control-label">Fecha de zarpe</label>
                <input type="text" class="form-control" id="fecha-zarpe">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Linea naviera</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Agencia consignataria</label>
            <input type="text" class="form-control" >
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">B/L</label>
            <input type="text" class="form-control" >
        </div>
       
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">Remitente</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Consignatario</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Notificara</label>
            <input type="text" class="form-control">
        </div>
    </div>
</form>

<br>
<br>
<div class="row">
    <div class="form-group col-md-4">
        <label class="control-label">Buscar Manifiesto</label>
        <input type="text" class="form-control" [(ngModel)]="manifiesto" name="manifiesto">
    </div>
    <div class="col-md-8">
        <button class="btn btn-primary btn-sm" style="margin-top: 30px;" (click)="consulta()" [disabled]="!manifiesto">Buscar</button>

    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered" style="white-space: nowrap;">
        <thead>
            <tr style="cursor: pointer">
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="nTrans">Manifiesto <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="cAduana">cAduana <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="cTransp">Transporte <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="nomBuque">Buque <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="numviaje">Número Viaje <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="tipoOper">Tipo Operación <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="fecEstimada">Fecha estimada <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="lineaNaviera">Linea Naviera <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="firma">Firma <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="fecRecibe">Fecha Recibe <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="pais">País <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="puerto">Puerto <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="entidadMan">Entidad Man <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="nTransOrig">Número de Transacción Orig <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="cAduanaOrig">Aduana Orig <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="cuAduana">cu Aduana <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="nomAduana">Nom Aduana <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="cuPais">cu País <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="nomPais">nom País <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="cuPuerto">cu Puerto <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="cuEntidadMan">cu Entidad Man <span class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="manifiestoData" data-order="desc" data-name="nomEntidadMan">nom Entidad Man <span class="glyphicon glyphicon-sort"></span></th>
             
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of manifiestoData">
                <td>{{item.nTrans}}</td>
                <td>{{item.cAduana}}</td>
                <td>{{item.cTransp}}</td>
                <td>{{item.nomBuque}}</td>
                <td>{{item.numviaje}}</td>
                <td>{{item.tipoOper}}</td>
                <td>{{item.fecEstimada}}</td>
                <td>{{item.lineaNaviera}}</td>
                <td>{{item.firma}}</td>
                <td>{{item.fecRecibe}}</td>
                <td>{{item.pais}}</td>
                <td>{{item.puerto}}</td>
                <td>{{item.entidadMan}}</td>
                <td>{{item.nTransOrig}}</td>
                <td>{{item.cAduanaOrig}}</td>
                <td>{{item.cuAduana}}</td>
                <td>{{item.nomAduana}}</td>
                <td>{{item.cuPais}}</td>
                <td>{{item.nomPais}}</td>
                <td>{{item.cuPuerto}}</td>
                <td>{{item.cuEntidadMan}}</td>
                <td>{{item.nomEntidadMan}}</td>
            </tr>
        </tbody>
    </table>
</div>

    
  <ngb-pagination [collectionSize]="10" [(page)]="page"></ngb-pagination><br>
  <button type="button" class="btn btn-default" routerLink="/recinto">Regresar</button>