<ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
</ng-template>

<div class="row">
    <div class="form-group col-md-5">
        <label class="control-label">Nombre de buque</label>
        <input type="text" class="form-control" [(ngModel)]="buque" name="buque" [ngbTypeahead]="search"
            [inputFormatter]="formatter" [resultTemplate]="rt">
    </div>
    <div class="form-group col-md-5">
        <label class="control-label">Viaje</label>
        <input type="text" class="form-control" name="viaje" [(ngModel)]="viaje">
    </div>
    <div class="col-md-2">
        <button class="btn btn-sm btn-primary" (click)="buscarBuqueViaje()" [disabled]="!buque || !viaje"
            style="margin-top: 30px;">Buscar</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group ">
        <div class="datepicker-group">
            <label class="control-label">Fecha de arribo</label>
            <input type="text" class="form-control" id="fecha" [(ngModel)]="fechaarribo" name="fechaarribo" [disabled]="disabledFechaArribo"> 
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label class="control-label">Manifiesto</label>
        <input type="text" class="form-control" name="manifiesto" [(ngModel)]="manifiesto">
    </div>
 
</div>
<table *ngIf="buqueViaje" class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td><b>Buque</b></td>
            <td>{{buqueViaje.nBuque}}</td>
            <td><b>Viaje</b></td>
            <td>{{buqueViaje.numero_viaje}}</td>
        </tr>
        <tr>
            <td><b>Tipo Buque</b></td>
            <td>{{buqueViaje.tipoBuque}}</td>
            <td><b>Tipo Navegación</b></td>
            <td>{{buqueViaje.tipoNavegacion}}</td>
        </tr>
        <tr>
            <td><b>Fecha Arribo</b></td>
            <td>{{buqueViaje.fechaArrivo | date: 'dd/MM/yyyy'}}</td>
            <td><b>Fecha Zarpe</b></td>
            <td>{{buqueViaje.fechaZarpe | date: 'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
            <td><b>Fecha Inicio de Operaciones</b></td>
            <td>{{buqueViaje.inicio_operaciones | date: 'dd/MM/yyyy'}}</td>
            <td><b>Fecha Termino de Operaciones</b></td>
            <td>{{buqueViaje.termino_operaciones | date: 'dd/MM/yyyy'}}</td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#agregar-data">Agregar <span
        class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
<br>
<br>
<div class="table-responsive" style="font-size: 0.65em; max-height: 500px;">
    <table class="table table-bordered table-striped">
        <thead style="white-space: nowrap;">
            <tr style="cursor: pointer;">
                <th></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="embarcador">Embarcador <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="consignatario">Consignatario<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="notificarA">Notificar<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="bl">BL<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="marcasNumeros">Marcas y números<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="cantidad">Cantidad<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="unidad">Unidad de medida<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="descripcion">Descripcion<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="pesoBruto">Peso bruto KG.<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="volumen">Volumen<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="puertoEmbarque">Puerto Carga<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="puertoEmision">Puerto Origen<span
                        class="glyphicon glyphicon-sort"></span></th>
                <th scope="col" [appSort]="data" data-order="desc" data-name="puertoDescarga">Puerto Descarga<span
                        class="glyphicon glyphicon-sort"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data; let i = index">
                <td style='white-space: nowrap'><button class="btn btn-danger btn-sm"
                        (click)="removeData(i)">Eliminar</button>

                    <button class="btn btn-danger btn-sm" (click)="editData(i,item)" style="margin-left: 10px;"
                        data-toggle="modal" data-target="#editar-data">Editar</button>

                </td>
                <td>{{item.embarcador}}</td>
                <td>{{item.consignatario}}</td>
                <td>{{item.notificarA}}</td>
                <td>{{item.bl}}</td>
                <td>{{item.marcasNumeros}}</td>
                <td>{{item.cantidad}}</td>
                <td>{{item.unidad}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.pesoBruto}}</td>
                <td>{{item.volumen}}</td>
                <td>{{item.puertoEmbarque}}</td>
                <td>{{item.puertoEmision}}</td>
                <td>{{item.puertoDescarga}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>

<div class="modal fade" id="agregar-data">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar</h4>
            </div>
            <div class="modal-body">
                <form #formDataTab="ngForm">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Embarcador</label>
                            <input type="text" class="form-control" name="embarcador" [(ngModel)]="tabledat.embarcador">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Consignatario</label>
                            <input type="text" class="form-control" name="consignatario"
                                [(ngModel)]="tabledat.consignatario">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Notificar a</label>
                            <input type="text" class="form-control" name="notificar" [(ngModel)]="tabledat.notificarA">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">B/L</label>
                            <input type="text" class="form-control" name="bl" [(ngModel)]="tabledat.bl">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Marcas y números</label>
                            <input type="text" class="form-control" name="marcasnumeros"
                                [(ngModel)]="tabledat.marcasNumeros">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Cantidad</label>
                            <input type="text" class="form-control" name="cantidad" mask="0*"
                                [(ngModel)]="tabledat.cantidad">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Unidad de medida</label>
                            <select class="form-control" [(ngModel)]="tabledat.unidad" name="unidadmedida">
                                <option *ngFor="let item of unidadesmedida" [value]="item.clave"> {{item.valor1}} -
                                    {{item.valor2}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Descripción</label>
                            <input type="text" class="form-control" name="descripcion"
                                [(ngModel)]="tabledat.descripcion">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Peso bruto KG</label>
                            <input type="text" class="form-control" name="peso" [dropSpecialCharacters]="false"
                                mask="0*.00" [(ngModel)]="tabledat.pesoBruto">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Volumen</label>
                            <input type="text" class="form-control" name="volumen" mask="0*"
                                [(ngModel)]="tabledat.volumen">
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Puerto Carga</label>
                            <input type="text" class="form-control" name="puertoCarga"
                                [(ngModel)]="tabledat.puertoEmbarque">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Puerto Origen</label>
                            <input type="text" class="form-control" name="puertoOrigen"
                                [(ngModel)]="tabledat.puertoEmision">
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Puerto Descarga</label>
                            <input type="text" class="form-control" name="puertoDescarga"
                                [(ngModel)]="tabledat.puertoDescarga">
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="formDataTab.invalid"
                    (click)="guardarData()">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editar-data">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar</h4>
            </div>
            <div class="modal-body">
                <form #formDataTabEdit="ngForm">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Embarcador</label>
                            <input type="text" class="form-control" name="embarcador" [(ngModel)]="tabledat.embarcador">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Consignatario</label>
                            <input type="text" class="form-control" name="consignatario"
                                [(ngModel)]="tabledat.consignatario">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Notificar a</label>
                            <input type="text" class="form-control" name="notificar" [(ngModel)]="tabledat.notificarA">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">B/L</label>
                            <input type="text" class="form-control" name="bl" [(ngModel)]="tabledat.bl">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Marcas y números</label>
                            <input type="text" class="form-control" name="marcasnumeros"
                                [(ngModel)]="tabledat.marcasNumeros">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Cantidad</label>
                            <input type="text" class="form-control" name="cantidad" mask="0*"
                                [(ngModel)]="tabledat.cantidad">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Unidad de medida</label>
                            <select class="form-control" [(ngModel)]="tabledat.unidad" name="unidadmedida">
                                <option *ngFor="let item of unidadesmedida" [value]="item.clave"> {{item.valor1}} -
                                    {{item.valor2}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Descripción</label>
                            <input type="text" class="form-control" name="descripcion"
                                [(ngModel)]="tabledat.descripcion">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Peso bruto KG</label>
                            <input type="text" class="form-control" name="peso" [dropSpecialCharacters]="false"
                                mask="0*.00" [(ngModel)]="tabledat.pesoBruto">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Volumen</label>
                            <input type="text" class="form-control" name="volumen" mask="0*"
                                [(ngModel)]="tabledat.volumen">
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Puerto Carga</label>
                            <input type="text" class="form-control" name="puertoCarga"
                                [(ngModel)]="tabledat.puertoEmbarque">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Puerto Origen</label>
                            <input type="text" class="form-control" name="puertoOrigen"
                                [(ngModel)]="tabledat.puertoEmision">
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Puerto Descarga</label>
                            <input type="text" class="form-control" name="puertoDescarga"
                                [(ngModel)]="tabledat.puertoDescarga">
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="formDataTabEdit.invalid"
                    (click)="guardarEditData()">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="alert alert-success" *ngIf="hasSuccess">
    {{msj}}
</div>
<div class="alert alert-danger" *ngIf="hasError">
    {{msj}}
</div>
<button class="btn btn-primary pull-right" (click)="cargarManifiesto()">Guardar</button>
<br>
<br>
<br>